<div class ="all">
<div class="col-lg-12 col-md-12 col-sm-12">

  <div class="profile-cover">
      <div class="cover rounded shadow no-overflow">
          <div class="inner-cover">
              <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
              <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                  <!-- <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-bars"></i>
                  </button> -->

              </div>
              <!-- COVER PHOTO GOES IN HEREEEEE -->
              <img  src="assets/bannerArmando.png" class="img-responsive full-width" alt="cover" style="max-height:200px;">
          </div>

      </div>
  </div>
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background: url(assets/images/pets.png) center center;">
<div class="container text-center text-md-left" data-aos="fade-up" >
  <h1>Welcome to my Portfolio!</h1>
</div>
</section>
    <br>
    <br>
   <!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
              <img [src]="image" class="d-block w-100" alt="Slide">
            </ng-template>
          </ngb-carousel> -->
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h2>About</h2>
         <h3> I'm a passionate <span>computer science student</span> from Florida</h3>
        </div>
      </div>

  </div>
  </div>
</section>
<br>
<br>
<section>
  <span>
<div class="card">
  <div class="project">
    <a href="link-to-recipe-project" target="_blank">
      <img class="project" src="assets/images/Recipe.jpeg" class="d-block w-100" alt="Recipe Project">
    </a>
  </div>

</div>

<div class="card">
  <div class="project">
    <a href="link-to-petconnect-project" target="_blank">
      <img src="assets/images/PetConnect.jpeg" class="d-block w-100" alt="PetConnect Project">
    </a>
  </div>
</div>

<div class="card">
  <div class="dino">
    <a href="link-to-dino-project" target="_blank">
      <img src="assets/images/Dino.jpeg" class="d-block w-100" alt="Dino Project">
    </a>
  </div>
</div>

  </span>
</section>

</div>
