<div class ="all">
<div class="col-lg-12 col-md-12 col-sm-12">


  <br>
  <br>
  <section class="banner-section">
    <!-- BANNER -->
    <img src="assets/images/Armando Laguardia.png" class="banner-img" alt="cover">
 </section>
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
<div class="container text-center text-md-left" data-aos="fade-up" >
  <h1>Welcome to my Portfolio!</h1>
</div>
</section>
    <br>
   <!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
              <img [src]="image" class="d-block w-100" alt="Slide">
            </ng-template>
          </ngb-carousel> -->
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">

          <br>
          <h2>About</h2>
          <br>
          <h3> I'm a passionate computer science student and veteran from Florida.
            I’m also a Java full-stack bootcamp graduate with experience in Python, C++, and JavaScript. During my career,
            I’ve worked on a few front-end and back-end projects, some of which are listed below.
            Although my third year as a student has kept me busy, I’m excited to expand my portfolio with new full-stack projects in the near future.
            My technical skills include Angular, MySQL, and TypeScript, which I continually sharpen through daily practice.
            <br>
            <br>
            Feel free to follow me on any of my social media platforms listed in the navigation bar, or reach out if you'd like to connect!

          </h3>
          <br>
        </div>
      </div>

  </div>
  </div>
</section>
<br>
<br>
<section>
  <span>
<div class="card">
  <div class="project">
    <a href="link-to-recipe-project" target="_blank">
      <img class="project" src="assets/images/Recipe.jpeg" class="d-block w-100" alt="Recipe Project">
    </a>
  </div>

</div>

<div class="card">
  <div class="project">
    <a href="link-to-petconnect-project" target="_blank">
      <img src="assets/images/PetConnect.jpeg" class="d-block w-100" alt="PetConnect Project">
    </a>
  </div>
</div>

<div class="card">
  <div class="dino">
    <a href="link-to-dino-project" target="_blank">
      <img src="assets/images/Dino.jpeg" class="d-block w-100" alt="Dino Project">
    </a>
  </div>
</div>

  </span>
</section>

</div>
<br>
<br>
<footer></footer>
